# üìå Python X Tree ÏïåÍ≥†Î¶¨Ï¶ò Î∂ÑÎ•òÏã§Ïäµ 1Ìé∏

####

## 1. Í∏∞Î≥∏ ÏÑ§Ï†ï ‚ùó

#### -- Î∂ÑÏÑùÏóê ÌïÑÏöîÌïú Í∏∞Î≥∏ Î™®Îìà --

In [38]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd   
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from matplotlib.ticker import MaxNLocator
from collections import Counter
plt.style.use('fivethirtyeight')
import missingno as msno  # Í≤∞Ï∏°Ïπò ÏãúÍ∞ÅÌôî Î™®Îìà

#### -- Î∂ÑÏÑùÏóê ÌïÑÏöîÌïú ÏïåÍ≥†Î¶¨Ï¶ò Î™®Îç∏ --

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, log_loss, roc_auc_score
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

from sklearn.model_selection import GridSearchCV

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

#### -- Î∂ÑÏÑùÏóê ÌïÑÏöîÌïú Ìè∞Ìä∏ --

In [40]:
import matplotlib.font_manager as fm
fm._rebuild()
plt.rc('font', family='NanumGothic')

for fontInfo in fm.fontManager.ttflist:
    if 'Nanum' in fontInfo.name:
        print(fontInfo.name+" = "+fontInfo.fname)

NanumBarunGothic = C:\Windows\Fonts\NanumBarunGothic.ttf
NanumBarunGothic = C:\Windows\Fonts\NanumBarunGothicUltraLight.ttf
NanumBarunGothic = C:\Windows\Fonts\NanumBarunGothicLight.ttf
NanumGothic = C:\WINDOWS\Fonts\.TTF
NanumBarunGothic = C:\WINDOWS\Fonts\NanumBarunGothic.ttf
NanumGothic = C:\WINDOWS\Fonts\EXTRABOLD.TTF
NanumBarunGothic = C:\WINDOWS\Fonts\NanumBarunGothicLight.ttf
NanumBarunGothic = C:\Windows\Fonts\NanumBarunGothicBold.ttf
NanumGothic = C:\Windows\Fonts\EXTRABOLD.TTF
NanumBarunGothic = C:\WINDOWS\Fonts\NanumBarunGothicBold.ttf
NanumGothic = C:\Windows\Fonts\.TTF
NanumBarunGothic = C:\WINDOWS\Fonts\NanumBarunGothicUltraLight.ttf
NanumGothic = C:\WINDOWS\Fonts\BOLD.TTF
NanumGothic = C:\Windows\Fonts\BOLD.TTF

####

## 2. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ üìÇ

In [41]:
train = pd.read_csv('C:/Users/dudco/Desktop/creditcard_data/open/train.csv', encoding = 'CP949')
test = pd.read_csv('C:/Users/dudco/Desktop/creditcard_data/open/test.csv', encoding = 'CP949')

###

## 3. EDA üìä

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          10000 non-null  int64
 1   gender         10000 non-null  object
 2   car            10000 non-null  object
 3   reality        10000 non-null  object
 4   child_num      10000 non-null  int64
 5   income_total   10000 non-null  float64
 6   income_type    10000 non-null  object
 7   edu_type       10000 non-null  object
 8   family_type    10000 non-null  object
 9   house_type     10000 non-null  object
 10  DAYS_BIRTH     10000 non-null  int64
 11  DAYS_EMPLOYED  10000 non-null  int64
 12  FLAG_MOBIL     10000 non-null  int64
 13  work_phone     10000 non-null  int64
 14  phone          10000 non-null  int64
 15  email          10000 non-null  int64
 16  occyp_type     6848 non-null   object
 17  family_size    10000 non-null  float64
 18  begin_month    10000 non-null  float64
dtypes: float64(3), int64(8), object(8)
memory usage: 1.4+ MB

In [7]:
print(train.describe())

              index     child_num  income_total    DAYS_BIRTH  DAYS_EMPLOYED  \
count  26457.000000  26457.000000  2.645700e+04  26457.000000   26457.000000
mean   13228.000000      0.428658  1.873065e+05 -15958.053899   59068.750728
std     7637.622372      0.747326  1.018784e+05   4201.589022  137475.427503
min        0.000000      0.000000  2.700000e+04 -25152.000000  -15713.000000
25%     6614.000000      0.000000  1.215000e+05 -19431.000000   -3153.000000
50%    13228.000000      0.000000  1.575000e+05 -15547.000000   -1539.000000
75%    19842.000000      1.000000  2.250000e+05 -12446.000000    -407.000000
max    26456.000000     19.000000  1.575000e+06  -7705.000000  365243.000000

       FLAG_MOBIL    work_phone         phone         email   family_size  \
count     26457.0  26457.000000  26457.000000  26457.000000  26457.000000
mean          1.0      0.224742      0.294251      0.091280      2.196848
std           0.0      0.417420      0.455714      0.288013      0.916717
min           1.0      0.000000      0.000000      0.000000      1.000000
25%           1.0      0.000000      0.000000      0.000000      2.000000
50%           1.0      0.000000      0.000000      0.000000      2.000000
75%           1.0      0.000000      1.000000      0.000000      3.000000
max           1.0      1.000000      1.000000      1.000000     20.000000

        begin_month        credit
count  26457.000000  26457.000000
mean     -26.123294      1.519560
std       16.559550      0.702283
min      -60.000000      0.000000
25%      -39.000000      1.000000
50%      -24.000000      2.000000
75%      -12.000000      2.000000
max        0.000000      2.000000

In [8]:
print(test.describe())

             index     child_num  income_total    DAYS_BIRTH  DAYS_EMPLOYED  \
count  10000.00000  10000.000000  1.000000e+04  10000.000000   10000.000000
mean   31456.50000      0.434700  1.850433e+05 -16020.466400   59776.690400
std     2886.89568      0.729102  1.015398e+05   4197.672887  138121.224504
min    26457.00000      0.000000  2.700000e+04 -25152.000000  -15661.000000
25%    28956.75000      0.000000  1.215000e+05 -19483.250000   -3153.000000
50%    31456.50000      0.000000  1.575000e+05 -15606.000000   -1577.000000
75%    33956.25000      1.000000  2.250000e+05 -12539.000000    -410.000000
max    36456.00000      5.000000  1.575000e+06  -7489.000000  365243.000000

       FLAG_MOBIL    work_phone         phone         email   family_size  \
count     10000.0  10000.000000  10000.000000  10000.000000  10000.000000
mean          1.0      0.227600      0.296300      0.085600      2.202700
std           0.0      0.419304      0.456648      0.279786      0.898272
min           1.0      0.000000      0.000000      0.000000      1.000000
25%           1.0      0.000000      0.000000      0.000000      2.000000
50%           1.0      0.000000      0.000000      0.000000      2.000000
75%           1.0      0.000000      1.000000      0.000000      3.000000
max           1.0      1.000000      1.000000      1.000000      7.000000

        begin_month
count  10000.000000
mean     -26.272400
std       16.348557
min      -60.000000
25%      -39.000000
50%      -25.000000
75%      -12.000000
max        0.000000

#### -- Í≤∞Ï∏°Ïπò ÏãúÍ∞ÅÌôî --

In [ ]:
msno.bar(df=train.iloc[:, :], color=(0.7,0.1,0.3))

In [ ]:
msno.bar(df=test.iloc[:, :], color=(0.7,0.1,0.3))

In [84]:
train = train.fillna({'occyp_type':'Nan'})
test = test.fillna({'occyp_type':'Nan'})

#### -- 'occyp_type' Î≥ÄÏàò Í≤∞Ï∏°Ïπò ÌôïÏù∏ --

In [86]:
Nan_train = train[train['occyp_type']=='Nan']

In [87]:
Nan_i = Nan_train.groupby('income_type').count()
Nan_i

,index,gender,car,reality,child_num,income_total,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
income_type,,,,,,,,,,,,,,,,,,,
Commercial associate,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026
Pensioner,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440
State servant,392,392,392,392,392,392,392,392,392,392,392,392,392,392,392,392,392,392,392
Student,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Working,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312

In [88]:
Nan_test = test[test['occyp_type']=='Nan']

In [89]:
Nan_i_te = Nan_test.groupby('income_type').count()
Nan_i_te

,index,gender,car,reality,child_num,income_total,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month
income_type,,,,,,,,,,,,,,,,,,
Commercial associate,412,412,412,412,412,412,412,412,412,412,412,412,412,412,412,412,412,412
Pensioner,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699
State servant,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
Working,885,885,885,885,885,885,885,885,885,885,885,885,885,885,885,885,885,885

#### ÏÜåÎìù Ïú†ÌòïÎ≥Ñ  ÏßÅÏóÖÏú†Ìòï Í≤∞Ï∏°Ïπò ÌôïÏù∏
#### 'Pensioner'(Ïó∞Í∏à ÏàòÎ†πÏûê)Ïù¥ Í≤∞Ï∏°ÏπòÏùò ÏïΩ 54%Î•º Ï∞®ÏßÄ

In [ ]:
x = ['Commercial associate', 'Pensioner', 'State servant','Student', 'Working']
y = [1026, 4440, 392, 1, 2312]

plt.figure(figsize=(9, 3))
plt.bar(x,y)
plt.show()

#### --Target Î≥ÄÏàò ÏãúÍ∞ÅÌôî --

In [ ]:
colors = ['#ff9999', '#8fd9b6', '#d395d0']
explode = [0.05, 0.05, 0.05]

plt.subplots(figsize = (5,5))
plt.pie(train['credit'].value_counts(), labels = train['credit'].value_counts().index, 
        autopct="%.2f%%", explode=explode, startangle = 90, colors=colors)
plt.title('Ïã†Ïö©ÎèÑ ÎπÑÏú®', size=20)
plt.show()

#### -- Ï§ëÎ≥µ Í∞í ÌôïÏù∏ÌïòÍ∏∞ ÏúÑÌï¥ Î≥ÄÏàò ÏÉùÏÑ± --

In [17]:
train['ID'] = [str(a) + str(b) + str(c) + str(d)+ str(e) + str(f) + str(g) + str(h) + str(i) for a,b,c,d,e,f,g,h,i in zip(train['gender'],train['car'],train['reality'],train['child_num'],train['income_total'],train['income_type'],train['edu_type'],train['DAYS_BIRTH'],train['DAYS_EMPLOYED'])]

In [18]:
train['ID'].value_counts()

FNY0297000.0Commercial associateSecondary / secondary special-15519-3234    35
MNN2225000.0WorkingHigher education-16768-3088                              24
FNY1157500.0State servantSecondary / secondary special-12676-1350           24
MYY0112500.0WorkingSecondary / secondary special-9952-1613                  21
FNY0202500.0PensionerSecondary / secondary special-21126365243              20
                                                                            ..
FNY0153000.0WorkingSecondary / secondary special-18868-726                   1
FNN090000.0PensionerSecondary / secondary special-20125365243                1
FNY0227250.0Commercial associateSecondary / secondary special-19817-4675     1
FNN1157500.0Commercial associateSecondary / secondary special-15473-1649     1
FNY090000.0Commercial associateSecondary / secondary special-10127-831       1
Name: ID, Length: 8737, dtype: int64

#

### * Î™®Îç∏ ÌïôÏäµÏùÑ ÏúÑÌïú Í∏∞Î≥∏ ÌïÑÏàò Ï†ÑÏ≤òÎ¶¨

#### 1) genderÎ≥ÄÏàò F,M -> 0,1Î°ú Î∞îÍøîÏ£ºÍ∏∞

In [42]:
train['gender'] = train['gender'].replace(['F','M'], [0,  1])
test['gender'] = test['gender'].replace(['F','M'], [0,  1])

#### 2) carÎ≥ÄÏàò N,Y -> 0,1Î°ú Î∞îÍøîÏ£ºÍ∏∞

In [43]:
train['car'] = train['car'].replace(['N', 'Y'], [0, 1])
test['car'] = test['car'].replace(['N', 'Y'], [0, 1])

#### 3) realityÎ≥ÄÏàò N,Y -> 0,1Î°ú Î∞îÍøîÏ£ºÍ∏∞

In [44]:
train['reality'] = train['reality'].replace(['N', 'Y'], [0, 1])
test['reality'] = test['reality'].replace(['N', 'Y'], [0, 1])

#### 4) income_type Î≥ÄÏàò 0,1,2,3,4Î°ú Ïù∏ÏΩîÎî©ÌïòÍ∏∞

In [45]:
train['income_type'] = label_encoder.fit_transform(train['income_type'])
test['income_type'] = label_encoder.transform(test['income_type'])

#### 5) edu_typeÎ≥ÄÏàò 0,1,2,3,4Î°ú Ïù∏ÏΩîÎî©ÌïòÍ∏∞

In [46]:
train['edu_type'] = label_encoder.fit_transform(train['edu_type'])
test['edu_type'] = label_encoder.transform(test['edu_type'])

#### 6) family_typeÎ≥ÄÏàò 0,1,2,3,4Î°ú Ïù∏ÏΩîÎî©ÌïòÍ∏∞

In [47]:
train['family_type'] = label_encoder.fit_transform(train['family_type'])
test['family_type'] = label_encoder.transform(test['family_type'])

#### 7) house_typeÎ≥ÄÏàò 0,1,2,3,4,5Î°ú Ïù∏ÏΩîÎî©ÌïòÍ∏∞

In [48]:
train['house_type'] = label_encoder.fit_transform(train['house_type'])
test['house_type'] = label_encoder.transform(test['house_type'])

##

## 4. Ï†ÑÏ≤òÎ¶¨ ÌïòÏßÄ ÏïäÏùÄ Îç∞Ïù¥ÌÑ∞Î°ú Î™®Îç∏ ÌïôÏäµ

In [12]:
raw_train = train.drop("occyp_type", axis = 1)
raw_test =  test.drop("occyp_type", axis = 1)

In [13]:
# trainÏùò ÌÉÄÍ≤üÎ≥ÄÏàò Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÎßåÎì§Ïñ¥Ï£ºÍ∏∞ ÏúÑÌï¥ ÌÉÄÍ≤üÎ≥ÄÏàò Ìñâ ÏÇ≠Ï†ú

raw_train_x = raw_train.drop("credit", axis = 1)

In [14]:
# trainÏùò ÌÉÄÍ≤üÎ≥ÄÏàò Îç∞Ïù¥ÌÑ∞ÏÖã

raw_train_y = raw_train['credit']

In [15]:
raw_test_x = raw_test

#### Decision Tree (Í≤∞Ï†ï Ìä∏Î¶¨)

In [16]:
raw_dt_clf = DecisionTreeClassifier(random_state=0)
raw_dt_clf.fit(raw_train_x, raw_train_y)

DecisionTreeClassifier(random_state=0)

In [17]:
raw_dt_pred = raw_dt_clf.predict(raw_test_x)

#### - GridSearchCVÎ•º Ïù¥Ïö©Ìï¥ ÏµúÏ†ÅÏùò ÌååÎùºÎØ∏ÌÑ∞ Ï∞æÏïÑÏ£ºÍ∏∞

In [18]:
params = {
    'max_depth':[2,4,6,8,10,12,14,16],
    'min_samples_leaf':[2,4,6,8,10,12],
    'min_samples_split':[8,12,16,20,24,28,30,32],
    'max_features':['sqrt','log','None'],
    'max_leaf_nodes':[1,2,3,4]
}
grid_cv = GridSearchCV(raw_dt_clf, param_grid=params, scoring='accuracy', cv=2, n_jobs=1)
grid_cv.fit(raw_train_x, raw_train_y)

print(grid_cv.best_params_)
print(grid_cv.best_score_)

{'max_depth': 2, 'max_features': 'sqrt', 'max_leaf_nodes': 2, 'min_samples_leaf': 2, 'min_samples_split': 8}
0.4390821999427041

##

## 5. Ï†ÑÏ≤òÎ¶¨

### 1) DAYS_EMPLOYED Î≥ÄÏàò

#### - Îç∞Ïù¥ÌÑ∞ ÏàòÏßë ÎãπÏãú (0)Î∂ÄÌÑ∞ Ïó≠ÏúºÎ°ú ÏàòÏßëÎê®
#### - Ï¶â, -1ÏùÄ Îç∞Ïù¥ÌÑ∞ ÏàòÏßëÏùº ÌïòÎ£® Ï†ÑÎ∂ÄÌÑ∞ ÏùºÏùÑ ÏãúÏûëÌï®ÏùÑ ÏùòÎØ∏ & ÏñëÏàò Í∞íÏùÄ Í≥†Ïö©ÎêòÏßÄ ÏïäÏùÄ ÏÉÅÌÉúÎ•º ÏùòÎØ∏Ìï®

#### 1-1) DAYS_EMPLOYEDÎ≥ÄÏàò ÏñëÏàò(ÏùºÏùÑ Ìïú Ï†Å ÏóÜÏùå)Îäî 0ÏúºÎ°ú Î≥ÄÍ≤Ω

In [49]:
train.loc[train['DAYS_EMPLOYED'] > 0, 'DAYS_EMPLOYED'] = 0
test.loc[test['DAYS_EMPLOYED'] > 0, 'DAYS_EMPLOYED'] = 0

#### 1-2) DAYS_EMPLOYEÎ≥ÄÏàò ÏùåÏàòÎ•º ÏñëÏàòÎ°ú Î≥ÄÍ≤ΩÌï¥ ÏùºÎã®ÏúÑ Î≥ÄÏàòÎ°ú Î≥ÄÍ≤Ω

In [50]:
train['DAYS_EMPLOYED']=-train['DAYS_EMPLOYED']
test['DAYS_EMPLOYED']=-test['DAYS_EMPLOYED']

#### 1-3) DAYS_EMPLOYEDÎ≥ÄÏàò ÎÖÑÏúºÎ°ú Îã®ÏúÑ Î≥ÄÍ≤ΩÌïú Î≥ÄÏàò ÏÉùÏÑ±

In [51]:
train['Year_EMPLOYED']=(train['DAYS_EMPLOYED']/365)
test['Year_EMPLOYED']=(test['DAYS_EMPLOYED']/365)

#### 1-4) DAYS_EMPLOYEDÎ≥ÄÏàò ÏõîÎ°ú Îã®ÏúÑ Î≥ÄÍ≤ΩÌïú Î≥ÄÏàò ÏÉùÏÑ±

In [52]:
train['Month_EMPLOYED']=(train['DAYS_EMPLOYED']/30)
test['Month_EMPLOYED']=(test['DAYS_EMPLOYED']/30)

### 2)  DAYS_BIRTH Î≥ÄÏàò

#### - Îç∞Ïù¥ÌÑ∞ ÏàòÏßë ÎãπÏãú (0)Î∂ÄÌÑ∞ Ïó≠ÏúºÎ°ú ÏàòÏßëÎê®
#### - Ï¶â, -1ÏùÄ Îç∞Ïù¥ÌÑ∞ ÏàòÏßëÏùº ÌïòÎ£® Ï†ÑÏóê ÌÉúÏñ¥ÎÇ¨ÏùåÏùÑ ÏùòÎØ∏Ìï®

#### 2-1) DAYS_BIRTHÎ≥ÄÏàò ÏùåÏàòÎ•º ÏñëÏàòÎ°ú Î≥ÄÍ≤Ω

In [53]:
train['DAYS_BIRTH']=-train['DAYS_BIRTH']
test['DAYS_BIRTH']=-test['DAYS_BIRTH']

#### 2-2) DAYS_BIRTHÎ≥ÄÏàò Ïù¥Ïö©Ìï¥ÏÑú ÎÇòÏù¥ Î≥ÄÏàò ÏÉùÏÑ±

In [54]:
train['age'] = (train['DAYS_BIRTH']/365)
train = train.astype({'age': 'int'})
test['age'] = (test['DAYS_BIRTH']/365)
test = test.astype({'age': 'int'})

### 3) begin_monthÎ≥ÄÏàò

#### - Îç∞Ïù¥ÌÑ∞ ÏàòÏßë ÎãπÏãú (0)Î∂ÄÌÑ∞ Ïó≠ÏúºÎ°ú ÏàòÏßëÎê®
#### - Ï¶â, -1ÏùÄ Îç∞Ïù¥ÌÑ∞ ÏàòÏßëÏùº Ìïú Îã¨ Ï†ÑÏóê Ïã†Ïö©Ïπ¥ÎìúÎ•º Î∞úÍ∏âÌï®ÏùÑ ÏùòÎØ∏Ìï®

#### 3-1) begin_monthÎ≥ÄÏàò ÏùåÏàòÎ•º ÏñëÏàòÎ°ú Î≥ÄÍ≤Ω

In [55]:
train['begin_month']=-train['begin_month']
test['begin_month']=-test['begin_month']

### 4) FLAG_MOBILÎ≥ÄÏàò

#### 4-1) FLAG_MOBILÎ≥ÄÏàò Î™®Îì† Ìñâ Í∞íÏù¥ 1Ïù¥ÎØÄÎ°ú Î∂àÌïÑÏöîÌïú Î≥ÄÏàòÎ°ú ÌåêÎã® Î≥ÄÏàò Ï†úÍ±∞

In [56]:
train = train.drop("FLAG_MOBIL", axis = 1)
test =  test.drop("FLAG_MOBIL", axis = 1)

### 5) family_sizeÎ≥ÄÏàòÎ≥¥Îã§ child_numÎ≥ÄÏàòÍ∞Ä Îçî ÌÅ∞ Ïò§Î•ò Ìñâ ÏÇ≠Ï†ú

In [57]:
error = train[train['family_size'] < train['child_num']]

In [58]:
error

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,...,work_phone,phone,email,occyp_type,family_size,begin_month,credit,Year_EMPLOYED,Month_EMPLOYED,age
14900,14900,1,1,0,2,225000.0,4,4,1,1,...,0,0,0,Drivers,1.0,30.0,2.0,6.060274,73.733333,40

In [59]:
train = train.drop([14900])

### 6) occpy_typeÎ≥ÄÏàòÍ≤∞Ï∏°ÏπòÍ∞Ä 8171Í∞ú Ï°¥Ïû¨ÌïòÎØÄÎ°ú Î≥ÄÏàò ÏÇ≠Ï†ú

In [60]:
train = train.drop("occyp_type", axis = 1)
test =  test.drop("occyp_type", axis = 1)

### 7) indexÎ≥ÄÏàòÏÇ≠Ï†ú

In [61]:
train = train.drop("index", axis = 1)
test =  test.drop("index", axis = 1)

##

## 6. Ï†ÑÏ≤òÎ¶¨Ìïú Îç∞Ïù¥ÌÑ∞Î°ú Î™®Îç∏ ÌïôÏäµ

In [62]:
# trainÏùò ÌÉÄÍ≤üÎ≥ÄÏàò Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÎßåÎì§Ïñ¥Ï£ºÍ∏∞ ÏúÑÌï¥ ÌÉÄÍ≤üÎ≥ÄÏàò Ìñâ ÏÇ≠Ï†ú

train_x = train.drop("credit", axis = 1)

In [63]:
# trainÏùò ÌÉÄÍ≤üÎ≥ÄÏàò Îç∞Ïù¥ÌÑ∞ÏÖã

train_y = train['credit']

In [64]:
test_x = test

#### Decision Tree (Í≤∞Ï†ï Ìä∏Î¶¨)

In [73]:
dt_clf = DecisionTreeClassifier(random_state=1)
dt_clf.fit(train_x, train_y)

DecisionTreeClassifier(random_state=1)

In [74]:
dt_pred = dt_clf.predict(test_x)

#### - GridSearchCVÎ•º Ïù¥Ïö©Ìï¥ ÏµúÏ†ÅÏùò ÌååÎùºÎØ∏ÌÑ∞ Ï∞æÏïÑÏ£ºÍ∏∞

In [75]:
params = {
    'max_depth':[2,4,6,8,10,12,14,16],
    'min_samples_leaf':[2,4,6,8,10,12],
    'min_samples_split':[8,12,16,20,24,28,30,32],
    'max_leaf_nodes':[1,2,3,4]
}
grid_cv = GridSearchCV(dt_clf, param_grid=params, scoring='accuracy', cv=2, n_jobs=1)
grid_cv.fit(train_x, train_y)

print(grid_cv.best_params_)
print(grid_cv.best_score_)

{'max_depth': 2, 'max_leaf_nodes': 2, 'min_samples_leaf': 2, 'min_samples_split': 8}
0.6909207741155126